# Dependencias de ejecución del servicio.
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.27
mysql-connector-python==8.3.0
selenium==4.18.1
webdriver-manager==4.0.1
requests==2.31.0
python-dotenv==1.0.1
